<h1><%= t(".subject") %></h1>

<p><%= t ".guide_text" %></p>
<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token,
email: @user.email) %>
<p><%= t ".guide_expires_at" %></p>
<p><%= t ".guide" %></p>
