<footer class="footer">
  <small>
    <%= link_to t(".title_link1"), Settings.footer.footer_link, target: :_blank %>
    <%= link_to t(".title_link2"), Settings.footer.footer_link2, target: :_blank %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), '#' %></li>
      <li><%= link_to t(".contact"), '#' %></li>
      <li><%= link_to t(".title_link3"), Settings.footer.footer_link3, target: :_blank %></li>
    </ul>
  </nav>
</footer>
